body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
    height: 100vh;
}

header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, #43434300, #000);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: .5s;
}



header .logo img{
    position: relative;
    left: 30px;
    height:35px;
    width: 150px;
}

header a{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: aliceblue;
    text-decoration: none;
    transition: .2s;
}

header a:hover{
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.747);
}

header .navegacao ul{
    list-style-type: none;
}

header .navegacao ul li{
    display: inline-block;
    padding: 0 10px;
    transition: .5s;
    position: relative;
    left: -300px;
}

header .navegacao ul li:hover{
    
    color: rgba(255, 255, 255, 0.747);
    transform: scale(1.09);
}

header .pesquisa i{
    position: relative;
    left: -80px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 0 10px;
    cursor: pointer;
}

.corpo .back img{
    position:static;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.corpo .descrissao{
   z-index: 100;
   position: relative;
   top: -700px;
   left: 40px;
}

.corpo .descrissao h3{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.678);
}

.corpo .descrissao .play{
    
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.corpo .descrissao .play span{
    font-size: 40px;
    display: inline-block;
    position: absolute; 
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%); /* Centraliza o span */
}

.corpo .descrissao .play:hover{
    background-color: rgb(170, 169, 169);
}
.corpo .descrissao .info{
    background-color: #797777ab;
    color: white;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    position: relative;
    cursor: pointer;
    top: -2px;
   
}

.corpo .descrissao .info span{
    font-size: 25px;
    display: inline-block;
    position: absolute; 
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%); /* Centraliza o span */
}

.corpo .descrissao .info:hover{
    background-color: #47464696;
}

.SonaNetflix span{
    color: rgb(37, 160, 218);
    position: relative;
    font-size: 20px;
    font-weight: 900;
    top: -496px;
    left: 160px;
    visibility: hidden;
}



.SonaNetflix h3{
    font-size: 20 px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    position: relative;
    top: -540px;
    left: 100px;
    color: white;
}
.SoNaNetflixCatalogo {
    position: relative;
    left: 0px;
    top: -550px;
    display: flex;
    transition: 1s ease-in-out;
}

.SoNaNetflixCatalogo .catalgo{
    margin: 5px;
}

.SoNaNetflixCatalogo .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .4s;
}

.SoNaNetflixCatalogo .catalgo img:hover{
    transform: scale(1.05);
}

.retroceder, .avancar{
    color: white;
    font-size: 50px;
    font-weight: 900;
    border: none;
    transition: .2s;
    background: #00000000;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.678);
    visibility: hidden;
}

.retroceder{
    z-index: 1000000;
    /*background: linear-gradient(to left, #43434300, #000);*/
    position: relative;
    left: 40px;
}
.avancar{
    /*background: linear-gradient(to right, #43434300, #000);*/
    position: relative;
    left: -40px;
}

.retroceder:hover, .avancar:hover{
    transform: scale(1.2);
}

.SoNaNetflixCatalogo2 {
    position: relative;
    left: 1280px;
    top: -700px;
    display: flex;
    transition: 1s ease-in-out;
    visibility: hidden;
}

.SoNaNetflixCatalogo2 .catalgo{
    margin: 5px;
}

.SoNaNetflixCatalogo2 .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
}

.SoNaNetflixCatalogo2 .catalgo img:hover{
    transform: scale(1.05);
}

.retroceder2, .avancar2{
    color: white;
    font-size: 50px;
    font-weight: 900;
    border: none;
    transition: .10s;
    background: #00000000;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.678);
    visibility: hidden;
}

.retroceder2{
    z-index: 1000000;
    /*background: linear-gradient(to left, #43434300, #000);*/
    position: relative;
    left: 40px;
}
.avancar2{
    /*background: linear-gradient(to right, #43434300, #000);*/
    position: relative;
    left: -40px;
}

.retroceder2:hover, .avancar2:hover{
    transform: scale(1.2);
}

