body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141414;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, #43434300, #000);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000000000000000000000000000000000000000000;
    transition: .5s;
}



header .logo img{
    position: relative;
    left: 30px;
    height:35px;
    width: 150px;
}

header a{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: aliceblue;
    text-decoration: none;
    transition: .2s;
}

header a:hover{
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.747);
}

header .navegacao ul{
    list-style-type: none;
}

header .navegacao ul li{
    display: inline-block;
    padding: 0 10px;
    transition: .5s;
    position: relative;
    left: -300px;
}

header .navegacao ul li:hover{
    
    color: rgba(255, 255, 255, 0.747);
    transform: scale(1.09);
}

header .pesquisa i{
    position: relative;
    left: -80px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 0 10px;
    cursor: pointer;
}


.corpo .back img{
    position:static;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.corpo .descrissao{
   z-index: 100;
   position: relative;
   top: -700px;
   left: 40px;
}

.corpo .descrissao h3{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.678);
}

.corpo .descrissao .play{
    
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.corpo .descrissao .play span{
    font-size: 40px;
    display: inline-block;
    position: absolute; 
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%); /* Centraliza o span */
}

.corpo .descrissao .play:hover{
    background-color: rgb(170, 169, 169);
}
.corpo .descrissao .info{
    background-color: #797777ab;
    color: white;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    position: relative;
    cursor: pointer;
    top: -2px;
   
}

.corpo .descrissao .info span{
    font-size: 25px;
    display: inline-block;
    position: absolute; 
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%); /* Centraliza o span */
}

.corpo .descrissao .info:hover{
    background-color: #47464696;
}

.SonaNetflix{
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.SonaNetflix h3{
    font-size: 20 px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    position: relative;
    top: -570px;
    left: 29px;
    color: white;
}
.SoNaNetflixCatalogo {
    z-index: 10000010;
    position: relative;
    left: 0px;
    top: -650px;
    display: flex;
    transition: .6s ease-in-out;
}

.SoNaNetflixCatalogo .catalgo{
    margin: 5px;
}

.SoNaNetflixCatalogo .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .4s;
}

.SoNaNetflixCatalogo .catalgo img:hover{
    transform: scale(1.05);
}

.retroceder, .avancar{
    z-index: 10000011;
    color: white;
    font-size: 50px;
    font-weight: 900;
    border: none;
    transition: .2s;
    background: #00000000;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.678);
    visibility: hidden;
}

.retroceder{
    
    /*background: linear-gradient(to left, #43434300, #000);*/
    position: relative;
    top: -550px;
    left: -25px;
}
.avancar{
    /*background: linear-gradient(to right, #43434300, #000);*/
    
    position: relative;
    top: -550px;
    left: 1150px;
}

.retroceder:hover, .avancar:hover{
    transform: scale(1.2);
}

.SoNaNetflixCatalogo2 {
    position: relative;
    left: 1250px;
    top: -805px;
    display: flex;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.SoNaNetflixCatalogo2 .catalgo{
    margin: 5px;
}

.SoNaNetflixCatalogo2 .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
}

.SoNaNetflixCatalogo2 .catalgo img:hover{
    transform: scale(1.05);
}


.SoNaNetflixCatalogo3 {
    position: relative;
    left: -1270px;
    top: -963px;
    display: flex;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.SoNaNetflixCatalogo3 .catalgo{
    margin: 5px;
}

.SoNaNetflixCatalogo3 .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
}

.SoNaNetflixCatalogo3 .catalgo img:hover{
    transform: scale(1.05);
}
.NewStorys {
    align-items: center;
    justify-content: center;
    position: relative;
    top: -400px;
    left: 0;
}

.NewStorys span{
    color: rgb(37, 160, 218);
    position: relative;
    font-size: 20px;
    font-weight: 900;
    top: -496px;
    left: 160px;
    visibility: hidden;
}



.NewStorys h3{
    font-size: 20 px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    position: relative;
    top: -570px;
    left: 29px;
    color: white;
}
.NewStorysCatalogo {
    z-index: 10000010;
    position: relative;
    left: 0px;
    top: -650px;
    display: flex;
    transition: .6s ease-in-out;
}

.NewStorys .catalgo{
    margin: 10px;
}

.NewStorys .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .4s;
}

.NewStorys .catalgo img:hover{
    transform: scale(1.05);
}

.NewStorys .retroceder2, .NewStorys .avancar2{
    z-index: 10000011;
    color: white;
    font-size: 50px;
    font-weight: 900;
    border: none;
    transition: .2s;
    background: #00000000;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.678);
    visibility: hidden;
}

.NewStorys .retroceder2{
    
    /*background: linear-gradient(to left, #43434300, #000);*/
    position: relative;
    top: -550px;
    left: -25px;
}
.NewStorys .avancar2{
    /*background: linear-gradient(to right, #43434300, #000);*/
    
    position: relative;
    top: -550px;
    left: 1150px;
}

.NewStorys .retroceder2:hover, .NewStorys .avancar2:hover{
    transform: scale(1.2);
}

.NewStorysCatalogo2 {
    position: relative;
    left: 1250px;
    top: -805px;
    display: flex;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.NewStorysCatalogo2 .catalgo{
    margin: 10px;
}

.NewStorysCatalogo2 .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
}

.NewStorysCatalogo2 .catalgo img:hover{
    transform: scale(1.05);
}


.NewStorysCatalogo3 {
    position: relative;
    left: -1270px;
    top: -963px;
    display: flex;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.NewStorysCatalogo3 .catalgo{
    margin: 10px;
}

.NewStorysCatalogo3 .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
}

.NewStorysCatalogo3 .catalgo img:hover{
    transform: scale(1.05);
}


.NewStorys span{
    color: rgb(37, 160, 218);
    position: relative;
    font-size: 20px;
    font-weight: 900;
    top: -496px;
    left: 160px;
    visibility: hidden;
}

.top1a10 h3{
    z-index: 1000000000000;
    font-size: 20 px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    position: relative;
    top: -1350px;
    left: 29px;
    color: white;

}

.top1a10 .top5{
    position: relative;
    left: 0;
    top: -1450px;
    display: flex;
    transition: .6s ease-in-out;
    visibility: visible;
}

.top5 .catalgo{
    margin: 8px;
}

.top5 .catalgo img{
    height: 180px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
    cursor: pointer;
    
    
}

.top5 .catalgo img:hover{
    transform: scale(1.05);
}

.top1a10 .top10{
    position: relative;
    left: 1300px;
    top: -1650px;
    display: flex;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.top10 .catalgo{
    margin: 8px;
}

.top10 .catalgo img{
    height: 180px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
    cursor: pointer;
    
    
}

.top10 .catalgo img:hover{
    transform: scale(1.05);
}

.retroceder3, .avancar3{
    z-index: 10000011;
    color: white;
    font-size: 50px;
    font-weight: 900;
    border: none;
    justify-content: center;
    align-items: center;
    transition: .2s;
    background: #00000000;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.678);
    visibility: visible;
    top: -1310px;
}

.retroceder3{
    
    /*background: linear-gradient(to left, #43434300, #000);*/
    position: relative;
    left: 0px;
    visibility: hidden;
}
.avancar3{
    /*background: linear-gradient(to right, #43434300, #000);*/
    
    position: relative;
    left: 1160px;
}

.retroceder3:hover, .avancar3:hover{
    transform: scale(1.2);
}

.ProducoesDeHollywood {
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1080px;
    left: 0;
}

.ProducoesDeHollywood span{
    color: rgb(37, 160, 218);
    position: relative;
    font-size: 20px;
    font-weight: 900;
    top: -496px;
    left: 160px;
    visibility: hidden;
}



.ProducoesDeHollywood h3{
    font-size: 20 px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    position: relative;
    top: -570px;
    left: 29px;
    color: white;
}
.ProducoesDeHollywoodCatalogo {
    z-index: 10000010;
    position: relative;
    left: 0px;
    top: -650px;
    display: flex;
    transition: .6s ease-in-out;
}

.ProducoesDeHollywood .catalgo{
    margin: 10px;
}

.ProducoesDeHollywood .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .4s;
}

.ProducoesDeHollywood .catalgo img:hover{
    transform: scale(1.05);
}

.ProducoesDeHollywood .retroceder4, .ProducoesDeHollywood .avancar4{
    z-index: 10000011;
    color: white;
    font-size: 50px;
    font-weight: 900;
    border: none;
    transition: .2s;
    background: #00000000;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.678);
    visibility: visible;
}

.ProducoesDeHollywood .retroceder4{
    
    /*background: linear-gradient(to left, #43434300, #000);*/
    position: relative;
    top: -550px;
    left: 0px;
}
.ProducoesDeHollywood .avancar4{
    /*background: linear-gradient(to right, #43434300, #000);*/
    
    position: relative;
    top: -550px;
    left: 1150px;
}

.ProducoesDeHollywood .retroceder4:hover, .ProducoesDeHollywood .avancar4:hover{
    transform: scale(1.2);
}

.ProducoesDeHollywoodCatalogo2 {
    position: relative;
    left: 1250px;
    top: -805px;
    display: flex;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.ProducoesDeHollywoodCatalogo2 .catalgo{
    margin: 10px;
}

.ProducoesDeHollywoodCatalogo2 .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
}

.ProducoesDeHollywoodCatalogo2 .catalgo img:hover{
    transform: scale(1.05);
}


.ProducoesDeHollywoodCatalogo3 {
    position: relative;
    left: -1270px;
    top: -963px;
    display: flex;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.ProducoesDeHollywoodCatalogo3 .catalgo{
    margin: 10px;
}

.ProducoesDeHollywoodCatalogo3 .catalgo img{
    height: 140px;
    width: auto ;
    border-radius: 6px;
    transition: .2s;
}

.ProducoesDeHollywoodCatalogo3 .catalgo img:hover{
    transform: scale(1.05);
}



